<div class="fondo-violeta">
  <section class="bloque">
    <h2 class="titulo" appResaltar color="green">Crear usuario nuevo en la base de datos</h2>
  
    <div class="d-flex flex-wrap gap-3 justify-content-center">
      <button class="btn-custom" (click)="iniciarSesion()">Iniciar Sesión</button>
      <button class="btn-custom" (click)="cerrarSesion()">Cerrar Sesión</button>
      <button class="btn-custom" (click)="crearCuenta()">Crear cuenta</button>
    </div>
  
    <div class="cuadro-estilo borde-animado">
      <p appResaltar color="red">Usuario Auth:</p>
      <code>{{ auth.user() | json }}</code>
  
      <p appResaltar>Usuario en DB</p>
      <code>{{ auth.userDB() | json }}</code>
    </div>
  
    <router-outlet />
  </section>
</div>
