<!-- SPA:
 borramos el archivo app.routes.ts
 realizamos cambios en app.config.ts (ver los comentarios)
 tambien se realiza cambios en app.component.ts

 Quiero tener mi servicio de HttpClient disponible en toda la aplicación
 ng generate service services/api
-->

<input type="text" [(ngModel)]="nombre" name="" id="">

<button (click)="traer()">Traer</button>

@if(this.apiService.pokemonActual) {
  <h1>{{ this.apiService.pokemonActual.name }}</h1>
  <img [src]="this.apiService.pokemonActual.sprites.front_default" alt="">
}